body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://images3.alphacoders.com/103/1034504.jpg);
    color: white;
    overflow: hidden;
}
.painel{
    text-align: center;
    align-items: center;
}
.btn{
    border: 2px solid red;
    align-items: center;
}
.btn:hover{
    border: 2px solid rgb(253, 40, 40);
}
.btn:active{
    background-color: red;
    color: white;
    border: outset;
}
.elemento{
    text-decoration: none;
    cursor: pointer;
}
.elemento:hover{
    text-decoration: underline;
}
.nome{
    border: none;
    border-radius: 3px;
}
.senha{
    border: none;
    border-radius: 3px;
}
.nome:active{
    border: outset;
    
}
.senha:active{
    border: outset;
}
@media (max-width: 450px) {
    header {
      justify-content: center;
    }
}