body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://images3.alphacoders.com/103/1034504.jpg);
    color: white;
}
.painel{
    text-align: center;
    align-items: center;
}
.btn{
    border: 2px solid red;
    align-items: center;
}
.btn:hover{
    border: 2px solid rgb(253, 40, 40);
}
.btn:active{
    background-color: red;
    color: white;
    border: outset;
}